.jumbotron {
    background-image: url(../images/skyline.jpg);
    background-position: 0 -620px;
    padding-top: 20px;
    padding-bottom: 300px;
    max-width: 100%;
}

.jumbotron h1 {
    font-family: 'Carrois Gothic', sans-serif;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, .3);
}

.jumbotron p {
    font-family: 'Carrois Gothic', sans-serif;
}

.home {
    font-family: 'Sintony', sans-serif;
}

.home h2 {
    text-align: center;
}

h2, h3 {
    font-family: 'Carrois Gothic', sans-serif;
    text-align: center;
}

.home .highlights {
    margin-top: 3em;
}

.home .highlights img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.opaque {
    opacity: .8;
}

.cfabrigade {
    margin-top: 2em;
}

.cfabrigade img {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

img.meetup {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

footer p {
    margin-bottom: 0px;
    font-size: small;
}

@media (max-width: 970px) {
    .jumbotron {
        background-position: -862px -601px;
        padding-bottom: 239px;
    }
    .jumbotron h1 {
        max-width: 4em;
        font-size: 36px;
    }
    .jumbotron p {
        max-width: 10em;
    }
    div.highlights p {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    img.meetup {
        max-width: 100%;
    }
}
